* {
    margin: 0rem;
    padding: 0rem;
    /* overflow: hidden; */
}
html{
    scroll-behavior: smooth;
}
body{
      overflow-x: hidden;
}
#circle {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    position: absolute;
    /* z-index: 33; */
  }
.mid {
    position: relative;
    /* left: 20%; */
    top: 16%;
    height: auto;
    /* width: 50%; */
    margin: 4rem;

    /* display: flex;
   /* justify-content: space-around;  */
}
.myskill{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-around;

}
.hello1
{
    justify-content: center;
}


.hi {
    padding-bottom: 1%;
    font-size: 30%;
}

h1 {
    padding-bottom: 1%;
    font-family: 'Courgette', cursive;
    font-size: 3rem;
}
.mid span {
    padding-bottom: 1%;
}

.auto{
    color: rgb(4, 145, 253);
    font-weight: bold;
}
/* .auto:before
{
    content: "";
    position: relative; 
    height: 8%;
    width: 26%;
    background-color:#ffffff;
    border-left: 2px solid rgb(77, 77, 245);
    animation:animi 4s steps(20) infinite normal;
    
} */
/* @keyframes animi
{
  from
  {
    position:absolute;
    left:6rem;
  }
  to{
    position:absolute;
    left:18rem;
    right: 19rem;
  }
  from
  { 
    position:absolute;
    right: 19rem;

  }  
} */
/* @keyframes animi {
    0% {
        left: 6rem;
    }
    100% {
        left: 18rem;
    }
} */
#iam
{
    display: block;
}
.auto:before {
    content: "";
    position: absolute;
    height: 8%;
    width: 26%;
    background-color: #ffffff;
    border-left: 2px solid rgb(77, 77, 245);
    animation: animi 1s linear infinite alternate; 
    /* left: 6rem; */
}

@keyframes animi {
    0% {
        left: 6rem;
    }
    100% {
        left: 18rem;
    }
}
@media(min-width:2560px)
{
    .auto:before{
        height: 10%;
    }
}
@media(max-width:2460px)
{
    .auto:before
        {
            height: 11%;
        }
}
@media(max-width:1224px)
{
    .auto:before
        {
            height: 9%;
            width: 25%;
        }
}
@media(max-width:1080px)
{
    .auto:before
        {
            height: 5%;
            width:51% ;
        }
}
@media(max-width:770px)

{
    .auto:before
        {
            height: 7%;
            width:51% ;
        }
}
@media(max-width:534px)

{
    .auto:before
        {
            height: 5%;
            width:56% ;
        }
}
@media(max-width:1025px)

{
    .auto:before
        {
            height: 10%;
            width:56% ;
        }
}
@media(max-width:426px)

{
    .auto:before
        {
            height: 4%;
            width:57% ;
        }
        .copyright
        {
            width: 100%;
        }
}
@media(max-width:321px)

{
    .copyright
    {
        width: 100%;
    }
}
@media(max-width:1505px)

{
    .auto:before
        {
            height: 10%;
            width:48% ;
        }
}

.mid p {
    padding-top: 1%;
    font-size: larger;
}
p .hi{
   font-size:10em;
}

/* .web1 {
    display: none;
} */
.hi{
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}


.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9rem 0rem 9rem 0rem;
    line-height: 2rem;
    letter-spacing:2px;

}
.info h1{
    line-height: 3rem;
}
.second
{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
@media(max-width:770px)
{
    .web-left
    {
        display: flex;
        justify-content: center;
        position: relative;
        left: 22%;
    }
}

.top ul li a:hover {
    color: #00C9A7;
    text-decoration: underline;
}

.top ul li a {
    text-decoration: none;
    color: #845EC2;
    transition: all .3s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: large;
}

.top ul li {
    list-style: none;
   
}
/* #ho
{
    position: fixed;
    top:0%;
    margin: 17px;
} */
.top {
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    justify-content: space-between;
    width: 70%;
    margin: 2rem auto;
    background: rgba(243, 197, 255, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(243, 197, 255, 0.3);
    padding: 1rem;
    border-radius: 18px;
    align-items: center;
    position: fixed; 
    top: 0%; 
    transform: translateX(-50%); 
    left: 50%;
    overflow-x: hidden;
    /* justify-content: center; */
    /* line-height: 3rem; */
}
.form-group input {
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 494px;
    padding: 3px;
    border: 2px solid black;
    margin: 7px auto;
    border-radius: 11px;}
.top ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

}


/* {
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* .nav
{
    display: flex; */
    /* justify-content: space-around; */
    /* align-items: center;
    justify-content: center;
    
} */

.t {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #845EC2;
}

.explore {
    background: rgb(244, 60, 215);
    background: linear-gradient(133deg, rgba(244, 60, 215, 1) 22%, rgba(122, 20, 184, 1) 100%);
    padding: 12px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.explore:hover {
    background: rgb(244, 60, 215);
    background: linear-gradient(318deg, rgba(244, 60, 215, 1) 22%, rgba(122, 20, 184, 1) 100%);
    transition: all .3s ease-in;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.exploring {
    background: rgb(244, 60, 215);
    background: linear-gradient(133deg, rgba(244, 60, 215, 1) 22%, rgba(122, 20, 184, 1) 100%);
    padding: 12px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    display: block;
    width: 20%;
    text-align: center;
}
.exploring:hover {
    background: rgb(244, 60, 215);
    background: linear-gradient(318deg, rgba(244, 60, 215, 1) 22%, rgba(122, 20, 184, 1) 100%);
    transition: all .3s ease-in;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}


.box {
    position: relative;
    left: 17rem;
    top: 1%;
    z-index: 2;
    border-radius: 50%;
    width: 38%;
    height: 38%;
}

#exploring {
    position: relative;
    left: 10%;
}
.second {
    display: flex;
}
.web-left {
    width: 20rem;
    height: 18rem;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50%;
}

#aboutbox p {
    width: auto;
    position: relative;
    /* : 3rem;left */
    padding: 4%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 2px;
}
.mar 
{
   color:rgb(9, 9, 9);
   font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 3em;
    display: flex;
    justify-content: center;
    /* left:60%; */
}
/* .box:hover {
    /* position: relative;
    left: 20rem; */
/* z-index: -1; */
/* box-shadow: 4px 4px skyblue; */
/* transform: scale(1.02); 
} */

/* .img2 {
    position: relative;
    left: 7px;
    padding: 7px;
    width: 50%;
}
i
.aboutme {
    display: flex;
    padding: 2rem;
}


.web {
    border-radius: 50%;
    width: 30%;
    height: auto;
} */

#top1 {
    position: absolute;
}

@media screen and (max-width: 768px) {
    .top {
        flex-direction: column;
        gap: 1rem;
    }

    .info {
        flex-direction: column-reverse;
    }
    .second {
        flex-direction: column;
    }
}



.aboutme{
    display: flex;
    flex-wrap: wrap;
}
@media(max-width:1543px) {

    .info,
    .mid {
        position: relative;
        top: 30%;
        left: 5%;
    }
}

.hero-right img {
   /* position: relative;
   left:5%; */
   /* width: 48%; */
}

@media screen and(min-width:1736px) {
    .box {
        display: none;
    }

    .box3 {
        display: block;
        border-radius: 50%;
        width: 33%;
        height: 33%;
        position: relative;
        left: 50%;
    }
}

@media(max-width:853px) {
    .mid {
        flex-direction: column;
    }
}

@media(max-width:1024px) {
    .hero-right img {
        width: 25rem;
        margin-top: 4rem;
    }
}


/* @media(max-width:1082px) {
    .exploring {
        position: absolute;
        padding: 1%;
    }
} */
@media screen and (max-width:768px) {
    .mid p,#aboutbox p{
      font-size: 180%;

    }
}
 .skills
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background: rgb(198,255,221); */
    /* background: linear-gradient(90deg, rgba(198,255,221,1) 0%, rgba(251,215,134,1) 50%, rgba(246,79,89,1) 100%); */
    width: 100vw;
}

.html img
{
    width: 12rem;
    padding: 4%;
    /* border: 2px solid black; */
}
.html img:hover
{ background: rgb(90, 208, 244);
    background: linear-gradient(318deg, rgb(240, 129, 224) 22%, rgb(92, 220, 246) 100%);
    transition: all .3s ease-in;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.css img
{
    width: 8rem;
    /* position: relative;
    left: 12%; */
    padding: 14%;
    /* border: 2px solid black; */

}
.css img:hover{
    background: rgb(90, 208, 244);
    background: linear-gradient(318deg, rgb(240, 129, 224) 22%, rgb(92, 220, 246) 100%);
    transition: all .3s ease-in;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.jss img
{
    width: 17rem;
    position: relative;
    right: 14%;
    padding: 4%;
    /* border: 2px solid black; */
}
.jss img:hover
{
    background: rgb(90, 208, 244);
    background: linear-gradient(318deg, rgb(240, 129, 224) 22%, rgb(92, 220, 246) 100%);
    transition: all .3s ease-in;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.C img
{
    width: 11rem;

}
.C img:hover{
    background: rgb(90, 208, 244);
    background: linear-gradient(318deg, rgb(240, 129, 224) 22%, rgb(92, 220, 246) 100%);
    transition: all .3s ease-in;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.C{
    padding: 4%;
    /* border: 2px solid black; */
}
.cp img {
        width: 22rem;
        position: relative;
    right: 19%;
   
}
.cp img:hover{
    background: rgb(90, 208, 244);
    background: linear-gradient(318deg, rgb(240, 129, 224) 22%, rgb(92, 220, 246) 100%);
    transition: all .3s ease-in;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.cp{
    padding: 4%;
    /* border: 2px solid black; */
        /* position: relative;
        right: 33%; */
}
.python img
{
    width: 8rem;
    /* left: 6%; */
    padding: 27px;
}
.python img:hover{
    background: rgb(90, 208, 244);
    background: linear-gradient(318deg, rgb(240, 129, 224) 22%, rgb(92, 220, 246) 100%);
    transition: all .3s ease-in;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
#lang h3{
    font-weight: bold;
    font-size: 30px;
    position: relative;
    /* left: 14%; */
  
}
.python
{
    padding: 4%;
    /* border: 2px solid black; */
}
.myskill h2
{
    font-size: 50px;
    font-family: 'Autour One', cursive;
    margin: 1%;
    padding: 2%;
    text-align: center;
    background-color: #c6ffdd;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}
.firstcont
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2%;
    padding: 3%;
 
}
.secondcont
{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 2%;
    padding: 3%;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
}
.contact
{
   text-align: center;
   font-family: 'Abril Fatface', cursive;
   font-size: large;
 font-weight: bolder;
 

}
.thanks
{
    text-align: center;
}
.thanks h2{
    margin: 2%;
    padding: 3%;
    font-family: 'Poppins', sans-serif;
}
.thanks h3 {
    margin: 2%;
    padding: 3%;
    font-family: 'Poppins', sans-serif;
}
.contact a{
    color: rgb(25, 9, 245);
    transition: all .3s ease-in;
}
.contact a:hover
{
    color: #f50909;
    text-decoration: underline;
}
/* @media screen and (min-width:1450px) {
    .firstcont img,.secondcont img{
        width: 21rem;
    }
    .contact a
    {
       font-size: 3rem;
    }
} */
@media  (min-width:165px) and (max-width:425px) {
    .info{
        margin-top:7rem ;
    }
    
}
@media(max-width:770px){
    .info{
        margin-top:14rem;
    }

}
@media(max-width:510px){
    .info{
        margin-top: 5rem;
    }
}
@media(max-width:507px)
{
    .hero-right img{
        margin-top: 14rem;
    }
}
.copyright
{  display: flex;
    justify-content: space-around;
    background-color: rgb(45, 43, 43);
    color: #ffffff;
    padding: 1%;
    justify-content: space-between;
    justify-content: space-evenly;

}
.copyright a{
    color:#ffffff;
}
#tome
{    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* gap: 2rem; */
    justify-content: space-around;
}
.image123
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    background-color: #3498db;
    
}
.container11
{
    border: 2px solid black;
    padding: 5%;
    gap:4rem;
}
/* .name
{
    padding: 2rem;
} */
.email
{
    padding: 2rem;
}
.phone
{
    padding: 2rem;
    position: relative;
    right: 3%;
    /* border: 2px solid #3498db; */
}
.suggestion {
    padding: 2rem;
    position: relative;
    right: 4%;
}
.suggestion p
{  position: relative;
   width: 79%;
   height: 40%;
   border: 2px solid black;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin: 2rem;
    cursor: pointer;
  }
  .sugg{
    width: 292px;
  }
  
input[type=submit]:hover {
  background-color: #45a049;
}
.boxform
{
    border: 2px solid black;
    padding: 5%;
    border-radius: 6%;
}
.btn
{
    background-color:#45a049;
    padding: 3px;
}
@media(max-width:590px)
{
    
.form-group input {
   
    width: auto;
}
.boxform{
    width: auto;
}
#helloits
{
    width:6rem;
    height:4rem;
}
}
.contactimg
{
    width: 70%;
    height: auto;
}